// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
// プロジェクト全体のスタイル

/**
 * 共通クラススタイル
 */

div {
  opacity: 0.98;
}

// ページのヘッダー
.header {
  background: var(--color_white);
  color: var(--color_black);
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/**
 * 共通スタイル
 */
.w100 {
  width: 100%;
}
.flex {
  display: flex;
}

.flex-c-c {
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-bet {
  justify-content: space-between;
}

/**
 * カスタムプロパティ
 */
:root {
  /** サイズ変数 */
  --bb: 8px;
  --2b: 16px;
  --3b: 24px;
  --4b: 32px;
  --5b: 40px;
  --6b: 48px;
  --7b: 56px;
  --8b: 64px;
  --9b: 72px;
  --10b: 80px;

  /** カラー変数 */
  --color_black: #000000;
  --color_white: #ffffff;
  --color_fire: #ff0000;
  --color_water: #0000ff;
  --color_grass: #00ff00;
  --color_electric: #ffff00;
  --color_fight: #a52a2a;
  --color_super: #800080;
  --color_dark: #2c3e50;
  --color_pink: #ffc0cb;
  --color_orange: #ffa500;
  --color_grey: #808080;
}

// リセットCSS
/* modern-css-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
