<label class="form-label" *ngIf="label">{{ label }}</label>

<div class="autocomplete-wrapper">
  <!-- <input
    type="text"
    class="form-input"
    [(ngModel)]="inputValue"
    (input)="onInput()"
    (blur)="onBlur()"
    [placeholder]="placeholder"
    autocomplete="off"
  />

  @if (showList) {
    <ul class="autocomplete-list">
      @for (opt of filteredOptions; track opt) {
        <li (mousedown)="select(opt)">
          {{ opt }}
        </li>
      }
    </ul>
  } -->

  <mat-form-field appearance="outline" class="w100">
    <input
      type="text"
      matInput
      [formControl]="nameCtrl"
      [matAutocomplete]="auto"
      [placeholder]="placeholder"
    />

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event.option.value)">
      @for (name of filteredNames | async; track name) {
        <mat-option [value]="name">
          {{ name }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
